/* Variables */

:root {
  --primary-color: #a8cbf3;
  --background-color: #0d1117;
  --text-color: white;
  --large-font-size: 5rem;
  --medium-font-size: 3rem;
}

/* Elements */

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: var(--primary-color);
  text-decoration: underline;
  outline: none;
}

body {
  color: var(--text-color);
  font-family: 'Montserrat', Verdana, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

h1 {
  color: var(--primary-color);
  font-size: var(--large-font-size);
  font-weight: 500;
}

h2 {
  font-size: var(--medium-font-size);
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  margin-bottom: 10rem;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0 auto;
  width: 75%;
}

nav {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  font-size: var(--medium-font-size);
  font-weight: 500;
  text-align: center;
}

/* Classes */

.quotes:hover::before {
  color: var(--text-color);
  content: "'";
}

.quotes:hover::after {
  color: var(--text-color);
  content: "'";
}

/* IDs */

#subtitle {
  color: var(--text-color);
  margin: 0;
}

#title {
  color: var(--primary-color);
}

#title:hover {
  color: var(--text-color);
}

#title:hover::before {
  color: var(--primary-color);
  content: '';
  animation-name: keystroke;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes keystroke {
  0% {
    content: '{ n: ';
  }
  33% {
    content: '{ na: ';
  }
  66% {
    content: '{ nam: ';
  }
  100% {
    content: '{ name: ';
  }
}

#title:hover::after {
  color: var(--primary-color);
  content: ' }';
}

/* Mobile */

@media only screen and (max-width: 1000px) {
  :root {
    --large-font-size: 1.25rem;
    --medium-font-size: 1.125rem;
  }

  header {
    padding: 2rem;
    margin-bottom: 5rem;
  }

  main {
    width: 95%;
  }

  nav {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #193e6b;
    --background-color: #d1d2d3;
    --text-color: #303030;
  }

  h1 {
    font-weight: 600;
  }
}
