/* Variables */

:root {
  --background-color: #181c21;
  --gradient-color: #204075;
  --large-font-size: 3.5rem;
  --medium-font-size: 2rem;
  --primary-color: #3b82f6;
  --secondary-color: #0d1117;
  --tertiary-color: #181c21;
  --text-color: white;
}

/* Desktop */

a {
  text-decoration: none;
}

body {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", Verdana, sans-serif;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#background {
  align-items: center;
  background: radial-gradient(
      circle at 10% 100%,
      var(--gradient-color),
      rgba(255, 255, 255, 0) 40%
    ),
    radial-gradient(
      circle at 100% 10%,
      var(--gradient-color),
      rgba(255, 255, 255, 0) 40%
    );
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

#bio {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 144px;
  width: 60%;
}

#bio > h3 {
  font-size: var(--large-font-size);
  font-weight: 800;
  margin: 0;
  margin-bottom: 36px;
}

#bio > p {
  font-size: var(--medium-font-size);
  font-weight: 500;
  margin: 0;
}

#links {
  display: flex;
  flex-grow: 1;
  gap: 36px;
  justify-content: end;
}

#links > a,
a:visited {
  border-radius: 16px;
  color: var(--text-color);
  padding: 6px 12px;
}

#links > a:hover,
a:active,
a:focus {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  outline: none;
}

#name {
  color: var(--primary-color);
  font-size: var(--medium-font-size);
  font-weight: 800;
}

#navbar {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  font-size: var(--medium-font-size);
  font-weight: 600;
  padding: 6px 36px;
}

#resume-button {
  background-color: var(--primary-color);
  border-radius: 16px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  color: white;
  font-size: var(--medium-font-size);
  margin-top: 96px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
  width: fit-content;
}

#resume-button:hover,
#resume-button:active,
#resume-button:focus {
  font-weight: 900;
}

/* Mobile */

@media only screen and (max-width: 1100px) {
  :root {
    --large-font-size: 1.25rem;
    --medium-font-size: 1rem;
  }

  #bio {
    margin-top: 48px;
    width: 90%;
  }

  #bio > h3 {
    margin-bottom: 12px;
  }

  #links {
    gap: 12px;
  }

  #navbar {
    padding: 6px 12px;
  }

  #resume-button {
    margin-top: 64px;
  }
}

/* Light Mode */

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fafafa;
    --gradient-color: #6aa2fb;
    --primary-color: #1d4ed8;
    --secondary-color: white;
    --tertiary-color: #e6e6e6;
    --text-color: black;
  }
}
