/* Variables */

:root {
  --primary-color: #161b22;
  --secondary-color: #a8cbf3;
  --background-color: #0d1117;
  --text-color: white;
  --extra-large-font-size: calc(36px + 0.5vh);
  --large-font-size: calc(24px + 0.5vh);
  --medium-font-size: calc(20px + 0.5vh);
  --small-font-size: calc(16px + 0.5vh);
  --profile-pic-size: calc(150px + 0.5vh);
}

/* Elements */

a {
  color: var(--secondary-color);
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: var(--extra-large-font-size);
}

h2 {
  font-size: var(--large-font-size);
}

h3 {
  font-size: var(--medium-font-size);
}

html {
  font-family: "Montserrat", Verdana, sans-serif;
  color: var(--text-color);
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  padding: 0;
}

/* Classes */

.content {
  margin: 0 auto;
  padding: 2vh 0;
  min-width: 75%;
  max-width: 95%;
  border-top: 1px solid var(--secondary-color);
}

.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.homepage li {
  font-size: var(--small-font-size);
  list-style-type: none;
  padding-bottom: 1vh;
}

.homepage p {
  font-family: Verdana, sans-serif;
  font-size: var(--small-font-size);
  padding-left: 1em;
}

.nav-item {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 10px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item a {
  color: var(--text-color);
  font-size: var(--large-font-size);
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item:hover a {
  color: var(--secondary-color);
}

/* IDs */

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 4vh 0;
}

#profile-box {
  padding-top: 4vh;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

#profile-box h1 {
  color: var(--secondary-color);
}

#profile-box h1,
h3 {
  margin: 0;
  padding: 0;
}

#profile-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1vw;
  border-left: 1px solid var(--secondary-color);
  margin-left: 1vw;
}

#profile-pic {
  height: var(--profile-pic-size);
  width: var(--profile-pic-size);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#profile-pic-outline {
  height: calc(var(--profile-pic-size) - 4px);
  width: calc(var(--profile-pic-size) - 4px);
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

#projects-list li {
  padding-left: 1em;
}

#last-updated {
  position: fixed;
  bottom: 5px;
  left: 50%;
  size: var(--small-font-size);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  user-select: none;
  white-space: nowrap;
}

/* Mobile */

@media only screen and (max-width: 1000px) {
  :root {
    --extra-large-font-size: calc(22px + 0.25vw);
    --large-font-size: calc(16px + 0.25vw);
    --medium-font-size: calc(14px + 0.25vw);
    --small-font-size: calc(12px + 0.25vw);
    --profile-pic-size: calc(75px + 0.25vw);
  }
  .nav-item {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .nav-item a {
    font-size: var(--large-font-size);
  }
  #profile-box {
    padding: 2vh 0 0 0;
  }
  #profile-intro {
    padding-left: 1vh;
    margin-left: 1vh;
  }
}
