/* General settings */
a {
	text-decoration:none;
	color:inherit;
}

body {
	margin:0;
	padding:0;
	background-color: #e5e6e8;
	background-image: url("/media/code_background.jpg");
	background-size:cover;
	overflow-x:hidden;
}

h1, h2, img {
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:2vw;
	color:black;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size:1.75vw;
	color:black;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size:1.25vw;
	color:black;
}

p, li {
	font-family:'Verdana', sans-serif;
	color:black;
	font-size:1vw;
}

ul > img {
	height:auto;
	max-width:100%;
	display:inline-block;
}

/* General use classes */
.article {
	width:100%;
	display:inline-block;
	position:relative;
	padding-bottom:2vw;
}

.article_container {
	background-color:#e5e6e8;
	border-top:1vh solid;
	border-color:#24292E;
	min-width:100vw;
}

.card {
	width:100%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-bottom:1.5vh;
	background-color: #e5e6e8;
	border-radius: 1vh;
}

.card > h1 {
	text-align:center;
	border-bottom: .1vw solid black;
	margin: 0;
}

.column_holder {
	width:85vw;
	margin:auto;
	font-family: sans-serif;
	column-count:2;
}

.content_wrapper {
	padding-top:4vw;
	width:100vw;
	margin:0;
}

.graph_holder {
	text-align:center;
	padding-right:40px;
}

.graph {
	width:100%;
}

.writeup {
	margin-left:25vw;
	margin-right:25vw;
	font-family: sans-serif;
}

.writeup li {
	list-style-type: none;
	margin-bottom:1vh;
}

/* Header */
.header_item {
	height:inherit;
	line-height:2.5vw;
	text-align:center;
	list-style:none;
	font-family: 'Montserrat', sans-serif;
	font-size:2vw;
	color:white; 
}

.header_item a {
	vertical-align:middle;
}

.header_item:hover {
	color: #e5e6e8;
}

#header_link_holder {
	background-color: #24292E;
	height:3vw;
	padding-top:.75vw;
	padding-bottom:.75vw;
	transition: .25s ease;
	width:100%;
	column-count: 3;
}

#header_list {
	min-width:100%;
	text-align:center;
	position:fixed;
	z-index:95;
	
}

#logo {
	float:left;
	padding-left:1vw;
	height:inherit;
	z-index:99;
}

/* Index */

#profile_background {
	background-image: url("/media/computer.jpg");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	text-align:center;
	min-height:22vw;
	clip-path: polygon(
		0 0,
		100% 0,
		100% 100%,
		0 calc(100% - 10vh)
	);
}

#profile_circle_image {
	border-image: none 100% round;
	border-radius:50%;
	overflow:hidden;
	position:absolute;
	left:52%;
	top: 7vw;
}

#profile_headshot {
	border-image: none 100% round; 
	display:block;
	margin-left:auto;
	width:15vw;
	height:15vw;
	margin-right:auto;
}

#profile_left {
	padding:1vw 3vw 1vw 2vw;
	text-align:right;
	background-color: rgb(229,230,232, .4);
	border-radius:2vw 0 0 2vw;
	position:absolute;
	right:46.5%;
	top:12vw;
}

#profile_left > h1 {
	margin:0;
	background: -webkit-linear-gradient(left, #fd3116, #ff932e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#profile_left > h3 {
	color:#ffffff;
	margin:0;
}

#projects {
	background-color: #bbb9b9;
}

@media only screen and (min-width: 100px) and (max-width: 1024px) {
	/* General settings */
	h1 {
		text-align:center;
		padding-left:0;
		z-index:10;
	}

	ul {
		padding-left:20px;
	}
	
	/* General use classes */
	.article {
		margin:0;
		width:100%;
		padding-top:0;
	}

	.column_holder {
		width:95vw;
		column-count: 1;
	}

	.graph {
		width:100%;
	}

	.writeup {
		width:95vw;
		padding:0;
		margin:auto;
	}

	/* Header */
	#logo {
		display:none;
	}

	/* Index */

	#profile_circle_image {
		display:none;
	}

	#profile_headshot {
		display:none;
	}

	#profile_left {
		text-align:center;
		border-radius:1vh;
		margin-left:10vw;
		margin-right:10vw;
		position:relative;
		right:0;
		top:10vh;
	}
}
