/* General settings */
a {
	text-decoration:none;
	color:inherit;
}

body {
	margin:0;
	padding:0;
	background-color: #e5e6e8;
	background-size:cover;
	overflow-x:hidden;
}

img {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:1.75vw;
	color:black;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size:1.5vw;
	color:black;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size:1vw;
	color:black;
}

p, li {
	font-family:'Verdana', sans-serif;
	color:black;
	font-size:1vw;
}

ul > img {
	height:auto;
	max-width:100%;
	display:inline-block;
}

/* General use classes */

.content_wrapper {
	width:100vw;
	margin:0;
}

.writeup {
	margin-left:25vw;
	margin-right:25vw;
	font-family: sans-serif;
}

.writeup li {
	list-style-type: none;
	margin-bottom:1vh;
}

/* Header */
.header_item {
	height:100%;
	line-height:1.5vw;
	text-align:center;
	list-style:none;
	font-family: 'Montserrat', sans-serif;
	font-size:1.5vw;
	color: white; 
}

.header_item a {
	vertical-align:middle;
}

.header_item:hover {
	color: #e5e6e8;
}

#header_link_holder {
	background-color: #24292E;
	height:2vw;
	padding-top:.5vw;
	padding-bottom:.5vw;
	transition: .25s ease;
	width:100%;
	column-count: 3;
	-webkit-column-break-inside: avoid;
        page-break-inside: avoid;
	break-inside: avoid;
}

#header_list {
	min-width:100%;
	text-align:center;
	position:fixed;
	z-index:95;
}

#logo {
	float:left;
	padding-left:1vw;
	height:inherit;
	z-index:99;
}

/* Index */

#profile_background {
	background-image: url("/media/computer.jpg");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	text-align:center;
	min-height:30vw;
	clip-path: polygon(
		0 0,
		100% 0,
		calc(100% - 4vw) 100%,
		0 calc(100% - 8vw)
	);
}

#profile_circle_image {
	border-image: none 100% round;
	border-radius:50%;
	overflow:hidden;
	position:absolute;
	left:52%;
	top: 6vw;
}

#profile_headshot {
	border-image: none 100% round; 
	display:block;
	margin-left:auto;
	width:15vw;
	height:15vw;
	margin-right:auto;
}

#profile_left {
	padding:1vw 3vw 1vw 2vw;
	text-align:right;
	background-color: rgb(229,230,232, .4);
	border-radius:2vw 0 0 2vw;
	position:absolute;
	right:46.5%;
	top:11vw;
}

#profile_left > h1 {
	margin:0;
	background: -webkit-linear-gradient(left, #fd3116, #ff932e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#profile_left > h3 {
	color:#ffffff;
	margin:0;
}

@media only screen and (max-width: 1024px) {
	h1 {
		text-align:center;
		padding-left:0;
		z-index:10;
		font-size: 2.25vh;
	}

	h2 {
		font-size: 2vh;
	}

	h3 {
		font-size:1.75vh;
	}

	ul {
		padding-left:20px;
	}

	p, li {
		font-size:1.5vh;
	}

	#header_link_holder {
		height:1.75vh;
		padding-top:.5vh;
		padding-bottom:.5vh;
	}

	.header_item {
		line-height:1.5vh;
		font-size:1.5vh;
	}

	#logo {
		display: none;
	}

	.writeup {
		width:95vw;
		padding:0;
		margin:auto;
	}

	#profile_background {
		min-height:24vh;
	}

	#profile_headshot {
		width:15vh;
		height:15vh;
	}

	#profile_left {
		top: 8.5vh;
		right: 38.5%;
	}

	#profile_circle_image {
		top: 4vh;
		left: 60%;
	}
}
