/* General settings */
a {
	text-decoration:none;
	color:inherit;
}

body {
	margin:0px;
	padding:0px;
	background-color: #e5e6e8;
	background-image: url("/media/code_background.jpg");
	background-size:cover;
}

h1, h2, img {
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:50px;
	color:black;
}

h2 {
	font-family: 'Arvo', serif;
	font-size:34px;
	color:black;
}

p {
	font-family:'Verdana', sans-serif;
	color:black;
}

ul > img {
	height:auto;
	max-width:100%;
	display:inline-block;
}

/* General use classes */
.article {
	margin-left:5%;
	margin-right:5%;
	margin-top:25px;
	margin-bottom:25px;
	width:90%;
	min-height:400px;
	display:inline-block;
	position:relative;
}

.article_container {
	background-color:#e5e6e8;
	min-height:70%;
	padding-top:50px;
}

.content_wrapper {
	max-width:1600px;
	margin:auto;
}

.graph_holder {
	text-align:center;
}

.writeup {
	width:60%;
	margin:auto;
	font-family: sans-serif;
}

/* Header */
.header_item {
	display:inline-block;
	height:inherit;
	line-height:40px;
	min-width:24.5%;
	text-align:center;
	list-style:none;
	font-family: 'Montserrat', sans-serif;
	font-size:24px;
	color:white; 
}

.header_item:hover {
	color: #e5e6e8;
}

#header_link_holder {
	display:block;
	margin:auto;
	background-color: #24292E;
	height:40px;
	padding-top:10px;
	padding-bottom:10px;
	transition: .25s ease;
}

#header_list {
	min-width:100%;
	text-align:center;
	position:fixed;
	z-index:95;
}

#logo {
	float:left;
	padding-left:10px;
	height:inherit;
	z-index:99;
}

/* Index */
.box {
	height:100px;
	width:auto;
	white-space: nowrap;
	position:relative;
	display:inline-block;
	border: 4px solid;
	border-radius: 4px;
	margin:auto;
	text-align:center;
	overflow:hidden;
	background-color:#dadada;
	padding-left:5px;
	padding-right:5px;
}

.box:hover {
	cursor:pointer;
}

.box:hover .box_overlay {
	transform: translateY(50px);
}

.box_holder {
	width:100%;
	height:100px;
	padding-top:5px;
	padding-bottom:5px;
	display:flex;
}

.box_img {
	width:100px;
	height:25px;
	padding-top:10px;
	left:50%;
	display:inline-block;
	margin:auto;	
}

.box_overlay {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
	width:100%;
	height:100%;
	transition: .2s ease;
	transform: translateY(100px);
}

.box_overlay > h2 {
	color:white;
	margin-top:10px;
}

.box_text {
	color:black;
	font-family:'Arvo', serif;
	font-weight:normal;
	font-size:20px;
	margin: 20px 5px 0px 5px;
	left:55px;
	bottom:0px;
}

.parr {
	min-height:400px;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

#profile_background {
	background-image: url("/media/computer.jpg");
	background-position:center;
	background-size:100%;
	background-repeat:no-repeat;
	text-align:center;
	clip-path: polygon(
		0 0,
		100% 0,
		100% 100%,
		0 calc(100% - 5vw)
	);
	margin-bottom:-5vw;
}

#profile_circle_image {
	border-image: none 100% round;
	border-radius:50%;
	overflow:hidden;
	position:absolute;
	left:-25px
}

#profile_headshot {
	border-image: none 100% round; 
	display:block;
	margin-left:auto;
	width:300px;
	height:300px;
	margin-right:auto;
}

#profile_left {
	margin-left:15%;
	padding:15px 30px 15px 25px;
	display:inline-block;
	text-align:right;
	background-color: rgba(230,230,230,.4);
	border-radius:30px 0px 0px 30px;
}

#profile_left > h1 {
	margin:0;
	background: -webkit-linear-gradient(left, #ff2222, #f58f46);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#profile_left > h2 {
	color:#ffffff;
	margin:0;
}

#profile_right {
	width:35%;
	display:inline-block;
	min-height:200px;
	position:relative;
}

.triangle {
	background-color:#e5e6e8;
	height:5vw;
	margin-bottom:-4.99vw;
	clip-path: polygon(
		0 calc(100% - 5vw),
		100% 0,
		101% 100%,
		0 0
	);
}

@media only screen and (min-width: 100px) and (max-width: 1024px) {
	/* General settings */
	body {
		overflow: scroll;
	}

	h1 {
		text-align:center;
		padding-left:0;
		z-index:10;
		font-size:30px;
	}

	h2 {
		font-size:22px;
	}

	ul {
		padding-left:20px;
	}
	
	/* General use classes */
	.article {
		margin-left:0;
		margin-right:0;
		margin-bottom:0;
		margin-top:0;
		width:100%;
		padding-top:0;
		min-height:200px;
	}

	.content_wrapper {
		width:100%;
	}

	.graph {
		width:100%;
	}

	.writeup {
		width:95%;
	}

	/* Header */
	.header_item {
		min-width:32%;
		font-size:18px;
	}

	#logo {
		display:none;
	}

	/* Index */
	.box {
		width:100%;
		border-width: 2px 0px 4px 0px;
		margin-bottom:5px;
	}

	.box_holder {
		margin:auto;
		width:90%;
		display:block;
		height:auto;
	}

	.parr {
		display:none;
	}

	#profile_circle_image {
		display:none;
	}

	#profile_headshot {
		display:none;
	}

	#profile_left {
		width:100%;
		text-align:center;
		margin:0;
		border-radius:0;
		padding-left:0;
		padding-right:0;
		padding-bottom:25px;
	}

	#profile_right {
		display:none;
	}

	.triangle {
		display:none;
	}
}
