/* Variables */

:root {
  --primary-color: #a8cbf3;
  --card-front-color: #1f2937;
  --card-back-color: #1f2937;
  --background-color: #0d1117;
  --text-color: white;
  --large-font-size: 3.5rem;
  --medium-font-size: 2rem;
  --small-font-size: 1rem;
}

/* Desktop */

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: var(--primary-color);
  outline: none;
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 1px solid var(--text-color);
  margin: 0;
  width: 80%;
}

body {
  color: var(--text-color);
  font-family: "Montserrat", Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

#background {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#bio {
  color: var(--text-color);
  font-size: var(--medium-font-size);
  margin: 0;
  text-align: center;
}

#card {
  animation: flipToFrontOnLoad 1.5s ease-out 0 1;
  border-color: var(--text-color);
  border-radius: 0 0 0 20px;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  position: relative;
  transition: transform 1.5s;
  transition-delay: 0.3s;
  transform-style: preserve-3d;
  user-select: none;
  width: 100%;
}

#card-back {
  align-items: center;
  position: absolute;
  background-color: var(--card-back-color);
  backface-visibility: hidden;
  border-radius: 0 0 20px 0;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: var(--large-font-size);
  font-weight: 700;
  transform: rotateY(180deg);
  width: 100%;
}

#card-front {
  align-items: center;
  background-color: var(--card-front-color);
  backface-visibility: hidden;
  border-radius: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  height: 100%;
  width: 100%;
}

#card-outer {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  perspective: 1000px;
  width: 700px;
}

#card-outer:active #card {
  transform: rotateY(180deg);
}

#links {
  display: flex;
  font-size: var(--medium-font-size);
  justify-content: space-evenly;
  width: 100%;
}

#name {
  color: var(--primary-color);
  font-size: var(--large-font-size);
  font-weight: 700;
  margin: 0;
}

.fineprint {
  font-size: var(--small-font-size);
  margin-top: 10px;
  opacity: 0.5;
}

@keyframes flipToFrontOnLoad {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Mobile */

@media only screen and (max-width: 1100px) {
  :root {
    --large-font-size: 1.5rem;
    --medium-font-size: 1.25rem;
    --small-font-size: 0.5rem;
  }
  
  #card-outer {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    perspective: 1000px;
    width: 350px;
  }
}

/* Light Mode */

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #193e6b;
    --card-front-color: #e6e8ea;
    --card-back-color: #e6e8ea;
    --background-color: #d1d2d3;
    --text-color: #303030;
  }
}
