/* Elements */

a {
	text-decoration: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: black;
	margin: 0;
	padding: 0;
	background-color: #e5e6e8;
	background-size: cover;
	overflow-x: hidden;
}

img {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

h1 {
	font-size: 1.75vw;
}

h2 {
	font-size: 1.5vw;
}

h3 {
	font-size: 1vw;
}

p, li {
	padding-left: 1vw;
	font-family: 'Verdana', sans-serif;
	font-size: 1vw;
}

/* Classes */

.header-item {
	text-align: center;
	list-style: none;
}

.header-item > a {
	vertical-align: middle;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5vw;
}

.header-item > a:hover {
	color: #1a3d6c;
}

.article {
	margin-left: 25vw;
	margin-right: 25vw;
}

.article li {
	list-style-type: none;
	margin-bottom: 1vh;
}

/* IDs */

#header-link-holder {
	position: fixed;
	z-index: 95;
	min-width: 100%;
	background-color: #24292E;
	height: 2vw;
	padding-top: .5vw;
	padding-bottom: .5vw;
	text-align: center;
	transition: .25s ease;
	column-count: 3;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
	break-inside: avoid;
}

#logo {
	float: left;
	padding-left: 1vw;
	height: inherit;
	z-index: 99;
}

#splash {
	background-image: url("/media/computer.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	height: inherit;
	width: 100%;
	position: absolute;
	clip-path: polygon(
		0 0,
		100% 0,
		calc(100% - 8vw) 100%,
		5vw calc(100% - 5vw)
	);
	z-index: 25;
}

#splash-backdrop {
	background-color: #24292E;
	position: absolute;
	height: inherit;
	width: 100%;
	clip-path: polygon(
		0 0,
		100% 0,
		calc(100% - 2vw) calc(100% - 8vw),
		8vw 100%
	);
	z-index: 5;
}

#splash-holder {
	position:relative; 
	height: 25vw;
}
#website-intro {
	padding: 2.5vw;
	text-align: right;
	background-color: #e5e6e8;
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	top: 7vw;
}

#website-intro > h1, h3 {
	margin: 0;
	color: #1a3d6c;
}

#website-intro > h1 {
	font-size: 2vw;
	font-weight: bold;
}

/* Mobile */

@media only screen and (max-width: 1024px) {
	h1, h2, h3 {
		text-align: center;
	}

	h1 {
		font-size: 2.25vh;
	}

	h2 {
		font-size: 2vh;
	}

	h3 {
		font-size: 1.5vh;
	}

	ul {
		padding-left: 20px;
	}

	p, li {
		font-size: 1.5vh;
	}

	.header-item > a {
		line-height: 1.5vh;
		font-size: 1.5vh;
	}

	.article {
		width: 95vw;
		padding: 0;
		margin: auto;
	}

	#header-link-holder {
		height: 2vh;
	}

	#splash {
		clip-path: polygon(
			0 0,
			100% 0,
			calc(100% - 4vh) 100%,
			2vh calc(100% - 3vh)
		);
	}
	
	#splash-backdrop {
		clip-path: polygon(
			0 0,
			100% 0,
			calc(100% - 2vh) calc(100% - 4vh),
			4vh 100%
		);
	}

	#splash-holder {
		height: 16vh;
	}

	#logo {
		display: none;
	}

	#website-intro {
		top: 3.5vh;
		padding: 2vh;
	}

	#website-intro > h1 {
		font-size: 2.25vh;
	}

	#website-intro > h1 {
		font-size: 2.25vh;
	}
}