/* Variables */

:root {
	--primary-color: #161b22;
	--secondary-color: #a8cbf3;
	--background-color: #0d1117;
	--text-color: white;
	--extra-large-font-size: calc(36px + 0.5vw);
	--large-font-size: calc(24px + 0.5vw);
	--medium-font-size: calc(20px + 0.5vw);
	--small-font-size: calc(16px + 0.5vw);
	--profile-pic-size: calc(150px + 0.5vw);
}

/* Elements */

a {
	color: var(--secondary-color);
	text-decoration: none;
}

li {
  padding-bottom: 1vh;
}

body {
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1 {
	font-size: var(--extra-large-font-size);
}

h2 {
	font-size: var(--large-font-size);
}

h3 {
	font-size: var(--medium-font-size);
}

html {
	font-family: 'Montserrat', Verdana, sans-serif;
	color: var(--text-color);
}

/* Classes */

.homepage {
	margin: auto;
	width: 60%;
}

.homepage li {
	list-style-type: none;
  font-size: var(--small-font-size);
}

.homepage p {
	font-family: Verdana, sans-serif;
	font-size: var(--small-font-size);
  padding-left: 2em;
  padding-bottom: 1vh;
}

.nav-item {
	list-style: none;
  margin: auto;
  padding: 0;
}

.nav-item a {
	color: var(--text-color);
	font-size: var(--large-font-size);
  text-align: center;
}

.nav-item a:hover {
	color: var(--secondary-color);
}

.outlined-box {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

/* IDs */

#nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 2vh;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2vh;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 2vh;
}

#profile-box {
	padding: 1.75vw 0 1vw 0;
  flex: 0 0 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

#profile-box h1 {
  color: var(--secondary-color);
}

#profile-box h1, h3, p {
	margin: 0;
  padding: 0;
}

#profile-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1vw;
  border-left: 1px solid var(--secondary-color);
  margin-left: 1vw;
}

#profile-pic {
	height: var(--profile-pic-size);
	width: var(--profile-pic-size);
}

#profile-pic-outline {
	height: var(--profile-pic-size);
	width: var(--profile-pic-size);
	border-radius: 50%;
	overflow:hidden;
	box-shadow: 0 0 0 2px var(--secondary-color);
}

#projects-list li {
	padding-left: 2em;
}

/* Small screens */
@media only screen and (min-width: 1000px) and (max-width: 1900px) {
  .homepage {
    width: 95%;
  }
}


/* Mobile */

@media only screen and (max-width: 1000px) {
	:root {
		--extra-large-font-size: calc(22px + 0.25vh);
		--large-font-size: calc(16px + 0.25vh);
		--medium-font-size: calc(14px + 0.25vh);
		--small-font-size: calc(12px + 0.25vh);
		--profile-pic-size: calc(75px + 0.25vh);
	}

	ul {
		padding-left: 0;
	}

	.homepage {
		width: 95%;
		margin: auto;
	}

	.nav-item a {
		font-size: var(--large-font-size);
	}

	.nav-item a:hover {
		font-size: var(--large-font-size);
	}

	#outlined-box {
		width: 100%;
	}

	#nav-bar {
		padding: 2vh 5% 2vh 5%;
    margin-bottom: 2vh;
	}

	#profile-box {
    padding: 2vh 0 0 0;
	}

  #profile-intro {
    padding-left: 1vh;
    margin-left: 1vh;
  }
}